<div id="maximage">
	<img src="{{base_url}}resources/images/bg4.jpg" alt="" />
	<img src="{{base_url}}resources/images/bg3.jpg" alt="" />
	<img src="{{base_url}}resources/images/bg2.jpg" alt="" />
	<img src="{{base_url}}resources/images/bg1.jpg" alt="" />
</div>