<meta charset="{{charset}}" />
<title>{{title}}</title>
<meta name ="viewport" content ="width=device-width, minimum-scale=1, maximum-scale=1" />
<meta name ="apple-mobile-web-app-capable" content = "yes" />
<meta name="viewport" content="width=device-width" />

<!-- css -->
<link rel="stylesheet" href="/resources/ui/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/resources/ui/typography.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/resources/ui/layout.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/resources/ui/navigation.css" type="text/css" />

<!-- js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script type="text/javascript" src="/resources/app/jquery/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/resources/app/jquery/jquery.hoverflow.min.js"></script>
<script type="text/javascript" src="/resources/app/jquery/ioslider/jquery.iosslider.min.js"></script>
<script type="text/javascript" src="/resources/app/jquery/pjax/jquery.pjax.js"></script>

<!-- full screen bg 
<link rel="stylesheet" href="/resources/app/jquery/maximage/jquery.maximage.css" type="text/css" />
<script type="text/javascript" src="/resources/app/jquery/cycle/jquery.cycle.all.js"></script>
<script type="text/javascript" src="/resources/app/jquery/maximage/jquery.maximage.min.js"></script>-->

<!-- app init -->
<script type="text/javascript" src="/resources/app/init.js"></script>