<h1 title="Vissza a főoldalra">
	<a href="{{base_url}}">
	   <!--<img src="{{base_url}}resources/images/logo.png" alt="Sándor Zsolt grafikus" title="Vissza a főoldalra" />-->
	</a>
</h1>
<ul id="menu">
	<li id="home">
		<a href="{{base_url}}"></a>
	<li id="contact">
		<a href="{{base_url}}">SÁNDOR ZSOLT ——— GRAPHIC DESIGNER<br/>+36 70 257 5720 | {{email_address}}</a>
	</li>
	<li>
		<a href="{{portfolio_url}}/latest">latest</a>
	</li>
	<li>
		<a href="{{portfolio_url}}/archive">archive</a>
	</li>
	<li>
		<a href="{{portfolio_url}}/personal">personal</a>
	</li>
	<li>
		<a href="{{base_url}}contact">contact</a>
	</li>
</ul>