{{#project_detail}}
<!-- project detail [{{id}}] {{slug}} -->
<div id="project-detail">
	{{#images}}
		<img src="/content/{{filename}}">
	{{/images}}
	<p class="description">{{{title}}}</p>
	<p class="description">{{slug}}</p>
	<p class="description">{{{description}}}</p>
	<p class="description">{{{for}}}</p>
</div>
<!-- / project -->
{{/project_detail}}




<div class="debug">
	<pre>
___ {{load}} ___
	</pre>
</div>
