<!DOCTYPE html>
<html lang="en">
<head>
	{{>head}}
</head>
<body>



{{>xxbackground}}



<!-- navigation -->
<div id="navigation">
	{{>navigation}}
</div>
<!-- / navigation -->



<!-- content -->
<div id="content">
	{{>content}}
</div>
<!-- / content -->



<!-- footer 
<div id="footer">
	<pre>
	{{>xxx_footer}}
	</pre>
</div>-->
<!-- / footer -->



</body>
</html>
